@import url(https://fonts.googleapis.com/css?family=Ribeye+Marrow);
body {
  margin: 0;
  background-color: #2a3134;
  color: #fff;
  font-family: 'Ribeye Marrow', cursive;
}

.wrap {
  position: fixed;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.menu {
  opacity: 0.8;
  background-color: #545a5c;
}

.menu ul {
  margin-left : auto;
  margin-right : auto;
  list-style-type : none;
  width : 1000px;
  overflow : hidden;
  margin-top : 0px;
  margin-bottom : 0px;
  padding-top : 0px;
  padding-left : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  font-size: 30px;
}

.menu li:hover {
  background-color: #7f8385
}

@media screen and (min-width:1000px) {
  .menu li {
    width: 250px;
  }
}

@media screen and (max-width:999px) {
  .menu li {
    width: 50%;
    font-size: 50px;
  }
}

.menu li {
  font-weight : bold;
  text-align : center;
  float : left;
}

.top-img {
  width: 100%;
  height: 450px;
  padding: 200px 0;
  background-image: url("../images/top.jpg");
  background-size: cover;
  text-align: center;
}

.container {
  padding: 0 50px;
  margin: 0 auto;
}

.title {
  letter-spacing: 10px;
  font-size: 5em;
  visibility: hidden;
}

.motto {
  visibility: hidden;
}

.line {
  height: 20px;
  background-color: #cbcbcb;
}

.description {
  margin-top: 150px;
  text-align: center;
}

.heading {
  font-size: 5em;
  visibility: hidden;
}

.fa-hand-o-right {
  margin-right: 30px;
}

#content {
  visibility: hidden;
}

.content {
  margin-top: 70px;
  margin-bottom: 250px;
}

.member {
  /*margin-bottom: 250px;*/
  margin-bottom: 100px;
  visibility: hidden;
}

img {
  width: 200px;
  border-radius: 50%;
}

.sns {
  font-size: 2em;
}

.fa {
  text-decoration: none;
}

.fa-twitter {
  color: #00aced;
  margin-right: 50px;
}

.fa-facebook-official {
  color: #305097;
  margin-right: 50px;
}

.fa-instagram {
  color: #3f729b;
}

#msg {
  visibility: hidden;
}

.btn {
  margin: 0 auto;
  width: 300px;
  color: #fff;
  border: solid 5px #fff;
  font-size: 2em;
  margin-bottom: 200px;
}

.btn:hover {
  background-color: #fff;
  color: #2a3134;
}

.footer {
  text-align: center;
}

a {
  text-decoration: none;
}

.contact {
  color: #fff;
}

.contact:hover {
  color: #2a3134;
}
