@import url(https://fonts.googleapis.com/css?family=Ribeye+Marrow);
body {
  margin: 0;
  background-color: #2c344d;
  color: #fff;
}

.top-img {
  width: 100%;
  height: 450px;
  padding: 200px 0;
  background-image: url("../images/top.jpg");
  background-size: cover;
  text-align: center;
}

.container {
  padding: 0 50px;
  margin: 0 auto;
  font-family: 'Ribeye Marrow', cursive;
}

.title {
  letter-spacing: 10px;
  font-size: 5em;
}

.line {
  height: 20px;
  background-color: #fff;
}

.description {
  margin-top: 150px;
  text-align: center;
}

.content {
  margin: 70px 0;
}

.member {
  margin-bottom: 250px;
}

img {
  width: 200px;
  border-radius: 50%;
}
