@import url(https://fonts.googleapis.com/css?family=Ribeye+Marrow);
html {
  height: 100%;
}
body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: 'Ribeye Marrow', cursive;
  height: 100%;
}

.menu {
  background-color: white;
  z-index: 10;
  width: 100%;
  position: fixed;
  opacity: 1;
  margin: 0;
  box-shadow: 3px 3px 20px rgba(0,0,0,0.3);
}

.top{
  font-family: 'Poiret One',cursive;
  letter-spacing: 2px;
  float: left;
  margin: 0;
}

.menu h1:hover {
  cursor: pointer;
}

.menu-contents li:hover {
  color: #009cff;
  cursor: pointer;
}

.menu i {
  position: absolute;
  right: 0;
  font-size:2em;
  padding:0.5em;
}

.fa-times {
  position: absolute;
  right: 0;
  font-size: 2em;
  padding: 0.5em;
}

.top-img {
  width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 150px 0 50px 0;
  background-image: url("../images/top.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  overflow: hidden;
}

.container {
  padding: 0 50px;
  margin: 0 auto;
}

.title {
  visibility: hidden;
}

.motto {
  visibility: hidden;
}

.line {
  height: 20px;
  background-color: 	#e7f9fe;
}

.description {
  margin-top: 150px;
  text-align: center;
}

.heading {
  visibility: hidden;
  color:#009cff;
}

.fa-hand-o-right {
  margin-right: 30px;
}

#content {
  visibility: hidden;
}

.content {
  margin-top: 70px;
}

.member {
  margin-bottom: 100px;
  visibility: hidden;
}

img {
  width: 200px;
  border-radius: 50%;
}

.sns {
  font-size: 2em;
}

.fa {
  text-decoration: none;
}

.fa-twitter {
  color: #00aced;
  margin-right: 50px;
}

.fa-facebook-official {
  color: #305097;
  margin-right: 50px;
}

.fa-instagram {
  color: #3f729b;
}

#msg {
  visibility: hidden;
}

.btn {
  margin: 0 auto;
  color: #000;
  border: solid 5px #000;
  font-size: 2em;
  margin-bottom: 200px;
}

.btn:hover {
  background-color: #009cff;
  color: #fff;
  border: solid 5px #009cff;
}

.footer {
  text-align: center;
}

a {
  text-decoration: none;
}

.contact {
  color: #000;
}

.contact:hover {
  color: #fff;
}

/*PC*/
@media screen and (min-width: 768px) {
  .top {
    font-size: 2em;
    padding: 0.5em;
  }
  .menu {
    height: 4.5em;
  }
  .menu-contents {
  	position: absolute;
  	right: 0;
  	list-style: none;
  	/*color: #CCC7C7;*/
  	font-family: 'hosofont';
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
  	padding-top: 1em;
  	transition: all .4s;
  }
  .menu-contents li {
    float: left;
    font-size: 1.5em;
    margin-right: 1.5em;
  }
  .menu i {
    display: none;
  }
  .mb-menu {
    display: none;
  }
  .title {
    font-size: 5em;
    letter-spacing: 10px;
  }
  .heading {
    font-size: 5em;
  }
  .cotent {
    margin-bottom: 250px;
  }
  .btn {
    width: 300px;
  }
}

/*スマホ*/
@media screen and (max-width: 767px) {
  .top {
    font-size: 2em;
    padding: 0.5em;
  }
  .menu {
    height: 4em;
  }
  .menu-contents {
    display: none;
  }
  .mb-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: #5bcaff;
    opacity: 0.95;
    font-family: 'Poiret One',cursive;
    font-size: 2em;
    color: white;
    display: none;
  }
  .mb-menu-contents {
    margin-top: 5em;
    padding: 0;
    text-align: center;
    list-style: none;
    font-weight: bold;
  }
  .mb-menu-contents li {
    margin-bottom: 1em;
  }
  .title {
    font-size: 3em;
    letter-spacing: 5px;
    text-align: center;
  }
  .heading {
    font-size: 3em;
  }
  .content {
    margin-bottom: 100px;
  }
  .btn {
    width: 200px;
  }
}
